DATABASE_URL=postgresql://postgres.xxxx:PASSWORD@aws-0-region.pooler.supabase.com:6543/postgres
GITHUB_TOKEN=github_pat_xxx
GEMINI_API_KEY=xxx
EMBEDDING_MODEL=gemini-embedding-001
EMBEDDING_DIM=768
LLM_MODEL=gemini-2.0-flash
CORS_ORIGINS=http://localhost:4200
MAX_REPO_FILES=1200